.content {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-size: 24px;
  a {
    padding: 8px 36px 8px 36px;
    background-color: rgba(212, 223, 177, 0.45);
    border-radius: 20px;
    margin-top: 22px;
  }
}

.messageNotFound {
  display: flex;
  font-size: 36px;
  align-items: center;
  img {
    max-width: 47px;
  }
  h1 {
    margin-right: 13px;
  }
}
